*{
	padding: 0;
	margin: 0;
}
body{
	overflow-x:hidden;
}
/* Menu */
ul{
	background-color: #f2f2f2;
	position: fixed;
	top: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
	list-style: none;

}
li{
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 1.2vw;
	padding: 3.6vw 2.5vw;
}
li a{
	display: block;
	color: #000000;
	text-decoration: none;
}
li a:hover{
	color: #3333ff;
}
ul img{
	padding: 2vw;
	max-height: 75px;
}

/*Sobre*/
section#sobre{
	margin-top: 8vw;
	width: 100vw;
	background-color: #fafafa;
	height: 85vh;
}
#banner{
	background-image: url("imagens/bann.png");
	background-repeat: no-repeat;
	background-size: 75% 50%;
	padding: 20vw 35vw 0 0;
	float: left;
	margin-top: 2vw;
}
#titulo{
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 1.5vw;
	text-align: center;
	padding: 3.6vw 0 3.6vw 0;
	color: black;
}
article#texto{
	width: 75vw;
	text-align: justify;
	margin: 5vw 0 0 16vw;
}
article#texto p{
	text-indent: 1vw;
	line-height: 1.5;
	margin-left: 36vw;
	font-family: 'Arial', sans-serif;
	margin: 1%;
	color: #404040;
	font-size: 1.1vw;
}

/*Galeria com Flex-Box*/

section#galeria{
	width: 100vw;
	height: 130vh;
	background-color: #fafafa;
}
section#galeria header{
	width: 100vw;
	height: 25vh;
	background-color: #3333ff;
}
section#galeria header h1{
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 1.5vw;
	text-align: center;
	padding: 5.5vw 0 3.6vw 0;
	color: white;
}
.gallery {
	display: -ms-flexbox;
	flex-wrap: wrap;
	flex-direction: column;
	flex-flow: row wrap; 
	display: box;
	display: flex;
	margin: -0.19em;
}
.gallery-item {
  -webkit-box-flex: auto;
  flex: auto;
  width: calc(33.33% - 0.38em);
  margin: 0.19em;
  
}
.gallery img {
  width: 100%;
  height: auto;	
}

/* Apresentacao */

section#apresentacao{
	width: 100vw;
	height: 115vh;
	background-color: #fafafa;
}
section#apresentacao header{
	width: 100vw;
	height: 25vh;
	background-color: #3333ff;
}
section#apresentacao header h1{
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 1.5vw;
	text-align: center;
	padding: 5.5vw 0 3.6vw 0;
	color: white;
}

/* video */

video{
	margin: 6vw 0 3vw 25vw;
	width: 50vw;
}
section#apresentacao p{
	font-family: 'Arial', sans-serif;
	text-indent: 1vw;
	padding-left: 2%;
	padding-right: 10%;
	line-height: 1;
	font-size: 1.5vw;
	margin: 1%;
	color: #666666;
	text-align: justify;
}

/* rodape */

footer{
	width: 100vw;
	height: 10vh;
	background-color: #666666;
	clear: both;
}
footer h3{
	font-family: 'Arial', sans-serif;
	color: #ffffff;
	font-size: 1.2vw;
	text-align: center;
	padding-top: 2vw;
}